

  <div class="container-fluid" style="margin-top: 1%; width:96%">
    <div class="col-md-2">

      <img src="../../assets/img/citibank-squared.svg" class="logo-css">
    </div>
    <mat-toolbar class="header-layout">
      <mat-toolbar-row>
        <span class="menu-layout">My Accounts</span>
        <span class="menu-layout">Payments & Transfers </span>
        <span routerLink="/addwidgets" class="menu-layout">Add Widgets</span>
        <span class="menu-layout">Explore Products</span>
        <span class="menu-layout">Rewards & Offers</span>
        <span class="menu-layout">Open an Account ></span>
        <span class="menu-layout" style="margin-left: 20%;">
          <mat-icon aria-hidden="false" class="rotate-icon">search</mat-icon>
           &nbsp;How can we help?</span>
        <span class="menu-layout">Sign Off</span>
      </mat-toolbar-row>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
