<div class="container-fluid layout-container">

    <div class="row">
      <div class="col-md-4">
        <p class="profile-title">Welcome Back, Thomas</p>
        <p class="last-sign">Last Sign On: Apr 15,2020 (7:30PM ET) from mobile device</p>
        <p class="sec-header"><b>WIDGET DASHBOARD</b></p>

        <button routerLink="/home" mat-raised-button class="col-md-5" style="height:60px;">< Go Back</button>
        <button mat-raised-button color="primary" class="col-md-5" style="height:60px;">Citi Widgets</button>
        <br><br>

<div class="sec-header"><b>ACTIVE WIDGETS</b></div>
<div class="row list-css">
  <div class="col-md-2">
    <img class="citi-logo" src="../../assets/img/citi-logo.svg">
  </div>
  <div class="col-md-8">
      <p class="sub-title"><b>Advantage Miles</b></p>
      <p class="small-font">Quickly view your latest miles balance and learn more about how to maximize your miles.</p>
    </div>
    <div class="col-md-2">
       <mat-slide-toggle color="primary" [checked]="isChecked"></mat-slide-toggle>
      </div>
      <hr>
</div>
<div class="row list-css">
    <div class="col-md-2">
      <img class="citi-logo" src="../../assets/img/citi-logo.svg">
    </div>
    <div class="col-md-8">
        <p class="sub-title"><b>Advantage Miles</b></p>
        <p class="small-font">Quickly view your latest miles balance and learn more about how to maximize your miles.</p>
      </div>
      <div class="col-md-2">
         <mat-slide-toggle color="primary" [checked]="isChecked"></mat-slide-toggle>
        </div>
        <hr>
  </div>
  <div class="row list-css">
      <div class="col-md-2">
        <img class="citi-logo" src="../../assets/img/citi-logo.svg">
      </div>
      <div class="col-md-8">
          <p class="sub-title"><b>ARRAY My Credit Manager</b></p>
          <p class="small-font">Take control of your credit score with credit reports, tracking, monitoring and score simualtion.</p>
        </div>
        <div class="col-md-2">
           <mat-slide-toggle color="primary" [checked]="isChecked"></mat-slide-toggle>
          </div>
          <hr>
    </div>
    <div class="row list-css">
        <div class="col-md-2">
          <img class="citi-logo" src="../../assets/img/citi-logo.svg">
        </div>
        <div class="col-md-8">
            <p class="sub-title"><b>THANKYOU Points</b></p>
            <p class="small-font">View your latest balance and launch into shopping with your THANKYOU Points.</p>
          </div>
          <div class="col-md-2">
             <mat-slide-toggle color="primary" [checked]="isChecked"></mat-slide-toggle>
            </div>
            <hr>
      </div>
      <div class="row list-css">
          <div class="col-md-2">
            <img class="citi-logo" src="../../assets/img/citi-logo.svg">
          </div>
          <div class="col-md-8">
              <p class="sub-title"><b>Citi ATM/Branch Finder</b></p>
              <p class="small-font">Quickly locate your nearedt citi network ATM or banking location.</p>
            </div>
            <div class="col-md-2">
               <mat-slide-toggle color="primary" [checked]="isChecked"></mat-slide-toggle>
              </div>
              <hr>
        </div>
        <div class="row list-css">
            <div class="col-md-2">
              <img class="citi-logo" src="../../assets/img/citi-logo.svg">
            </div>
            <div class="col-md-8">
                <p class="sub-title"><b>Citi Savings Goals</b></p>
                <p class="small-font">Organize your saving goals with Citi savings Goals.Only one savings account is needed.</p>
              </div>
              <div class="col-md-2">
                 <mat-slide-toggle color="primary" [checked]="isChecked"></mat-slide-toggle>
                </div>
                <hr>
          </div>
          <div class="sec-header"><b>RECOMMENDED WIDGETS</b></div>

          <div class="row list-css">
              <div class="col-md-2">
                <img class="citi-logo" src="../../assets/img/citi-logo.svg">
              </div>
              <div class="col-md-8">
                  <p class="sub-title"><b>Digit: Save Money & Invest</b></p>
                  <p class="small-font">Digit helps you consistently save, invest, and pay down debt - so you don't have to think about it.</p>
                </div>
                <div class="col-md-2">
                   <mat-slide-toggle color="primary" [checked]="isChecked"></mat-slide-toggle>
                  </div>
                  <hr>
            </div>
            <div class="row list-css">
                <div class="col-md-2">
                  <img class="citi-logo" src="../../assets/img/citi-logo.svg">
                </div>
                <div class="col-md-8">
                    <p class="sub-title"><b>Truebill</b></p>
                    <p class="small-font">Cancel subscription and take control of your money.Save your money and a lot of stress.</p>
                  </div>
                  <div class="col-md-2">
                     <mat-slide-toggle color="primary" [checked]="isChecked"></mat-slide-toggle>
                    </div>
                    <hr>
              </div>
              <div class="row list-css">
                  <div class="col-md-2">
                    <img class="citi-logo" src="../../assets/img/citi-logo.svg">
                  </div>
                  <div class="col-md-8">
                      <p class="sub-title"><b>Citi Flex Pay Purchases</b></p>
                      <p class="small-font">Get an overview of your Flex pay purchases due dates and remaining payments.</p>
                    </div>
                    <div class="col-md-2">
                       <mat-slide-toggle color="primary" [checked]="isChecked"></mat-slide-toggle>
                      </div>
                      <hr>
                </div>













      </div>
      </div>

  </div>
