.layout-container{
  margin-top: 1%;
  font-family: system-ui;
}

.profile-title{
  font-size: 23px;
  font-weight:400;
  margin-top: 38px;
}

.last-sign{
  font-size: 16px;
  font-weight: 300;
}
.sec-header{
  letter-spacing: 3px;
  margin-top: 38px
}
