<div class="container-fluid layout-container">

  <div class="row">
    <div class="col-md-4">
      <p class="profile-title">Welcome Back, Thomas</p>
      <p class="last-sign">Last Sign On: Apr 15,2020 (7:30PM ET) from mobile device</p>
      <p class="sec-header"><b>ACCOUNT OVERVIEW</b></p>

      <button mat-raised-button class="col-md-5" style="height:60px;">Citi Summary</button>
      <button routerLink="/widgets" mat-raised-button class="col-md-5" style="height:60px;">Citi Widgets</button>
    </div>
    </div>

</div>
